figure, figcaption {
	display: block;
}

.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
	font-family: Tahoma, Verdana, Aial, sans-serif;
	font-size: 28px;
	line-height: 108%;
	font-weight: bold;
	height: 32px;
}

.timeTo span {
	vertical-align: top;
}

.timeTo.timeTo-white div {
	color: black;
}
.timeTo.timeTo-black div {
	color: white;
}

.timeTo.timeTo-black .timeTo-alert {

}

.timeTo.timeTo-white .timeTo-alert {

}

.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.timeTo figcaption {
	text-align: center;
	font-size: 12px;
	line-height: 80%;
	font-weight: normal;
	color: rgba(62, 26, 22, 0.5);
}

.timeTo div {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 30px;
	overflow: hidden;
}
.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
